.fireworkContainer {
  position: relative;
  width: 100svw;
  height: 100svh;
  background-color: var(--nightBlue);
  overflow: hidden;
}

.firework {
    position: absolute;
    background-color: var(--fireworkColor);
    width: 2px;
    height: 10px;
    left: var(--fireworkPosition);
    bottom: 0%;
    animation: arise ease 2s forwards;
}

.particle {
    position: absolute;
    left: var(--xPosition);
    top : var(--yPosition);
    background-color: var(--particuleColor);
    width: 2px;
    height: 2px;
    animation: explosion ease 1s forwards;
}

@keyframes arise {
    from {transform: translate(0, 0);}
    to {transform: translate(0, var(--fireworkAltitude));}
}

@keyframes explosion {
    from {transform: translate(0, 0);}
    to {transform: translate(var(--xDirection), var(--yDirection));}
}