main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    padding: 5rem;
    background-color: black;
    color: var(--snow);

    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}