.sunContainer {
    position: relative;
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

.backgroundSky {
    position: absolute;
    width: 100%;
    height: 100%;
}
.night {
    opacity: 0;
    background: linear-gradient(to bottom,
        var(--nightBlue) 0%,
        var(--nightBlue) 100%
    );
}
.AuroraAndHespera { 
  opacity: 0; 
    background: linear-gradient(to bottom,
        var(--nightBlue) 0%,
        var(--skyOrange) 100%
    );
}
.day { 
  opacity: 0; 
  background: linear-gradient(to bottom,
    var(--skyBlue) 0%,
    var(--skyBlue) 100%
  );
}

.sun {
    width: 10svw;
    height: 10svw;
    border-radius: 100%;
    background-color: var(--sunYellow);

    position: absolute;
    bottom: -5svw;
    left: 5svw;

    transform-origin: 45svw;
    transform: rotate(-45deg);
}

.skyChange {
    animation: skyChange linear 4s forwards;
}
@keyframes skyChange {
    0% { opacity: 0;}
    100%{opacity: 1;}
}

.Aurora {animation: Aurora forwards linear 10s;}
.Hespera {animation: Hespera forwards linear 2s;}
@keyframes Aurora {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(90deg);}
}
@keyframes Hespera {
    0% {transform: rotate(90deg);}
    100% {transform: rotate(225deg);}
}